$def with (motors)
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/static/favicon.ico">

    <title>Railcontrol</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href="/static/css/bootstrap-theme.min.css" rel="stylesheet">

    
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>
    #img_container {
      position:relative;
      display:inline-block;
      text-align:center;
      border:1px solid red;
      
    }

    #open1 {
        position:absolute;
        bottom:430px;
        left:1150px;
        width:10px;
        height:10px;
    }

    #close1 {
        position:absolute;
        bottom:465px;
        left:1150px;
        width:10px;
        height:10px;
    }

    #toggle1 {
        position:absolute;
        bottom:370px;
        left:1040px;
        width:40px;
        height:40px;
    }
  </style>
  </head>

  <body role="document">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

    <!-- Fixed navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Railcontrol</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container theme-showcase" role="main">

      <div class="page-header">
      	<br />
        <h1>Switch things</h1>
      </div>


     
    </div> <!-- /container -->


    <div id="img_container">
      <img src="/static/img/track_layout.jpg" />
       $for motor in motors:
        $if motor.currentstate == "open":
          $ opencolor = "#5cb85c"
          $ closecolor = "#d9534f"
        $else:
          $ closecolor = "#5cb85c"
          $ opencolor = "#d9534f"
        <p>
          <button type="button" id="toggle$motor.id" name="toggle$motor.id" class="btn btn-lg"></button>
          <div class="btn btn-lg" id="open$motor.id" name="open$motor.id" style="background-color: $opencolor"></div>
          <div class="btn btn-lg" id="close$motor.id" name="close$motor.id" style="background-color: $closecolor"></div>
          <script>
          $$('#toggle$motor.id').click(function(){
          
            $$.ajax({
              url: '/api/toggle/$motor.id',
              data: {
                format: 'json'
              },
              dataType: 'json',
              type: 'GET',
              success: function(data){
                if(data.state == 'open'){
                  $$('#open$motor.id').css("background-color", "#5cb85c")
                  $$('#close$motor.id').css("background-color", "#d9534f")  
                }
                else
                {
                  $$('#close$motor.id').css("background-color", "#5cb85c")
                  $$('#open$motor.id').css("background-color", "#d9534f")   
                }
                
              }
            });
          });         
          
          </script>
        </P>       

    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    
    <script src="/static/js/bootstrap.min.js"></script>
    
  </body>
</html>


